body {
	font-family: sans-serif;
	text-align: center;
}

img {
	width: 100%;
}

button {
	display: block;
	width: 100%;
	padding: 10px 20px;
	margin: 10px 0;

	border: none;

	box-shadow: 3px 3px 5px black;

	background-color: #3A7CEC;

	border-radius: 0;
}